$headerList: (
  $--page-xs-width:(height: 50px),
  $--page-sm-width:(height: 50px),
  $--page-md-width:(height: 63px),
  $--page-lg-width:(height: 76px),
);

$logoList: (
  $--page-xs-width:(width:125px, height: 25px, left: 34px),
  $--page-sm-width:(width:125px, height: 25px, left: 34px),
  $--page-md-width:(width:160px, height: 33px, left: 43px),
  $--page-lg-width:(width:192px, height: 40px, left: 53px),
);

$navList: (
  $--page-xs-width:(left: 186px),
  $--page-sm-width:(left: 186px),
  $--page-md-width:(left: 240px),
  $--page-lg-width:(left: 290px),
);
$navItemList: (
  $--page-xs-width:(paddingLeft: 12px, paddingRight: 12px, lineHeight: 50px),
  $--page-sm-width:(paddingLeft: 12px, paddingRight: 12px, lineHeight: 50px),
  $--page-md-width:(paddingLeft: 14px, paddingRight: 14px, lineHeight: 63px),
  $--page-lg-width:(paddingLeft: 16px, paddingRight: 16px, lineHeight: 76px),
);
$wcList: (
  $--page-xs-width:(width: 141px, height: 37px, fontsize:12px),
  $--page-sm-width:(width: 141px, height: 37px, fontsize:12px),
  $--page-md-width:(width: 141px, height: 37px, fontsize:12px),
  $--page-lg-width:(width: 157px, height: 41px, fontsize:14px),
);
$appendList: (
  $--page-xs-width:(right: 20px),
  $--page-sm-width:(right: 25px),
  $--page-md-width:(right: 50px),
  $--page-lg-width:(right: 60px),
);
$avatarList: (
  $--page-xs-width:(width: 34px, height: 34px),
  $--page-sm-width:(width: 34px, height: 34px),
  $--page-md-width:(width: 45px, height: 45px),
  $--page-lg-width:(width: 54px, height: 54px),
);

@include b(header){
  @include mediaAdapt($headerList);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  z-index: 99;
  @include e(logo) {
    @include pvcenter();
    @include mediaAdapt($logoList);
    position: absolute;
    background: url(/image/logo.png) no-repeat center/cover;
  }

  @include e(nav) {
    @include mediaAdapt($navList);
    @include clearfix();
    height: 100%;
    position: absolute;
    li {
      @include mediaAdapt($navItemList);
      font-family: OrbitronRegular;
      font-size: 14px;
      cursor: pointer;
      height: 100%;
      position: relative;
      color: rgba(255,255,255,0.6);
      float: left;
      &:hover {
        color: $--color-aqua;
        text-shadow: 0 0 5px $--color-aqua;
      }
      
      &.active{
        color: $--color-aqua;
        font-family: OrbitronBlack;
      }
      &.active {
        background-image: linear-gradient(to bottom, rgba(87, 255, 250, 0.1) 20%, rgba(44, 255, 243, 0.5));
        border-bottom: 4px solid $--color-aqua;
      }

    }
  }

  @include e(append) {
    // @include clearfix();
    @include displayFlex();
    @include pvcenter();
    @include mediaAdapt($appendList);
    position: abosulte;
    align-items: center;
    .wc {
      @include mediaAdapt($wcList);
      font-family: OrbitronRegular;
    }
    
    @include m(loading) {
      font-family: OrbitronRegular;
      opacity: 0.2;
      font-size: 12px;
    }

    @include m(menubtn){
      font-size: 24px;
      color: $--color-white-07;
    }

    @include m(avatar) {
      @include mediaAdapt($avatarList);
      display: block;
      background: url(/image/avatar.png) no-repeat center/cover;
    }
  }

  @include e(locale) {
    margin-right: 40px;
    @include m(btn) {
      display: inline-block;
      text-align: center;
      // background-color: rgba(0,0,0,0.4);
      // border: 1px solid $--color-white-04;
      border: 0 none;
      display: block;
      color: $--color-white-07;
      cursor: pointer;
      min-width:100px;
      height:31px;
      line-height:31px;
      font-size:14px;
      padding-left: 20px;
      padding-right: 10px;
      // border-radius: 5px;
      font-family: OrbitronRegular;
    }
  }
}

@include b(account) {
  @include e(infocard) {
    ::v-deep .el-dialog {
      width: 500px;
      height: 258px;
      max-width: 90%;
      background: url(/image/wallet_card.png) no-repeat center/cover;
      &__close {
        color: $--color-black;
        font-size: 20px;
        font-weight: 800;
      }

      &__headerbtn {
        z-index: 10;
      }

      &__body {
        padding: 35px 41px;
        position: relative;
        color: $--color-white;
        h3 {
          font-size: 30px;
          line-height: 100%;
        }
        .box {
          width: 80px;
          height: 80px;
          background: url(/image/wallet_card_box.png) no-repeat center/cover;
          position: absolute;
          top: 28px;
          right: 31px;
        }

        .address {
          margin-top: 70px;
          h4 {
            margin-bottom: 10px;
          }
          .view {
            background: rgba(0,0,0,0.3);
            padding: 10px 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 100%;
            font-size: 14px;
            text-align: center;
            white-space: nowrap;
          }
        }
      }
    }
  }


  @include e(dialog) {
    ::v-deep .el-dialog { 
      width: 428px;
      max-width: 90%;
      // height: 379px;
      background: #2C3541;
      border: 2px solid #99A9BD;
      &__close {
        color: $--color-black;
        font-size: 20px;
        font-weight: 800;
        color: #99A9BD;
      }

      &__headerbtn {
        z-index: 99;
      }

      &__body {
        padding: 40px 30px 80px;
        position: relative;
        color: $--color-white;
        h3 {
          font-size: 30px;
          line-height: 100%;
          text-align: center;
          font-family: OrbitronRegular;
          margin-bottom: 40px;
        }

        .el-form-item {
          margin-bottom: 40px;
        }

        .form_submit {
          width: 100%;
          height: 46px;
          font-size: 16px;
          font-family: OrbitronRegular;
          display: block;
        }
      }
    }
  }
}



@include b(receivenft) {
  @include e(tipblock) {
    ::v-deep .el-dialog {
      width: 400px;
      max-width: 90%;
      position: relative;
      &__header { display: none; }

      &__body {
        padding: 0;
      }
    }

    .inner {
      position: relative;
      padding: 25px 40px;
      background-color: #4B5056;
      border: 2px solid #99A9BD;
      color: $--color-white;
      text-align: center;
      font-family: OrbitronRegular;
    }

    h4 {
      font-size: 24px;
      white-space: nowrap;
      font-family: OrbitronBlack;
      margin-top: 20px;
      margin-bottom: 15px;
    }

    @include m(sub) {
      font-size: 12px;
      line-height: 125%;
      word-break: break-word;
      margin-bottom: 30px;
    }

    @include m(btn) {
      width: 200px;
      height: 40px;
      background: #2D8A92;
      border: 2px solid #58DFD7;
      font-family: OrbitronRegular;
      font-size: 16px;
    }

  }
}